$bg-color-1: #2d2d2d;
$button-bg-color: #fffffe;

.cpt-primary-nav {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto;
  height: 96px;
  background-color: $bg-color-1;
  z-index: 1000;
  display: flex;
  justify-content: space-between;

  > * {
    display: inline-block;
    vertical-align: top;
  }

  a.button-home,
  a.icon {
    margin: 10px;
    color: white;
    cursor: pointer;
  }

  a.icon {
    width: 140px;
  }

  a.name {
    position: absolute;
    margin-left: 50px;
    line-height: 1.4em;
  }

  p.name {
    position: relative;
    width: 100px;
    top: 15px;
    left: 20px;
    color: rgba($color: #ffffff, $alpha: 0.25);
    line-height: 1.4em;
    margin-left: 35px;
  }

  a.button-home {
    background-color: $button-bg-color;
    border-radius: 25px;
    padding: 15px 20px;
    font-size: 20px;
    transition: border-radius 0.5s;
    color: #161616;

    &.purple {
      background-color: #8c07ed;
      color: white;
    }
  }

  .left,
  .right {
    display: flex;
    align-items: center;
    margin: 12.25px;
    gap: 20px;
  }
}
